extends ./base

block scripts
	script(type="application/javascript", src="../static/js/jade.js")
	script(type="application/javascript", src="../static/js/editor/read-record.js")
	script(type="application/javascript")
		- var contactObj = JSON.stringify(contactTemplate)
		- var linkObj = JSON.stringify(linkTemplate)
		- var metadataObj = JSON.stringify(metadataTemplate)
		| contactObj = !{contactObj};
		| linkObj = !{linkObj};
		| metadataObj = !{metadataObj};
		- if (existingResource) {
		| startObj = !{existingResource};
		- } else {
		| startObj = metadataObj;
		- }
		
block page-content
	#editor-header
		- if (existingResource) {
		h1#editor-title Edit an Existing Resource
		- } else {
		h1#editor-title Create a New Resource
		- }