extends ./base

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/edit.css")

block sidebar-content
	#standard-addition-block
		h2#standard-addition-title.block-title Add Formal Content
		#standard-addition-content.block-content
			ul#standard-addition-menu.menu
				li#standard-addition-author
					a(href="#", onclick="addAuthor()") Add an Author
				li#standard-addition-distributor
					a(href="#", onclick="addDsitributor()") Add a Distributor
				li#standard-addition-link
					a(href="#", onclick="addLink()") Add a Link
	
block scripts
	script(type="application/javascript", src="/static/js/jade.js")
	script(type="application/javascript", src="/static/js/editor/read-record.js")
	script(type="application/javascript", src="/static/js/editor/write-record.js")
	script(type="application/javascript", src="/static/js/editor/obj-template.js")
	script(type="application/javascript", src="/static/js/editor/value-template.js")
	script(type="application/javascript", src="/static/js/editor/editor.js")
	script(type="application/javascript")
		| contactObj = !{contactTemplate};
		| linkObj = !{linkTemplate};
		| metadataObj = !{metadataTemplate};
		- if (existingResource) {
		| startObj = !{existingResource};
		- } else {
		| startObj = metadataObj;
		- }
		
block page-content
	#editor-header
		- if (existingResource) {
		h1#editor-title Edit an Existing Resource
		- } else {
		h1#editor-title Create a New Resource
		- }
	form#editor-form(name="resourceForm", method="post", enctype="multipart/form-data", onsubmit="return writeResource()")
		#resource-container
			ul#theResource
		input#the-new-resource(name="theResource")
		input#save-resource-button(type="submit", value="Save Your Resource")