extends ./base

block scripts
	script(type="application/javascript", src="/static/js/search.js")
	script(type="application/javascript")
		| collectionId = "#{collection.id}";

block page-content
	h2= collection.Title
	p= collection.Description
	#results-container