extends ./base

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/jqueryui/jquery-ui-1.8.16.custom.css")
	link(rel="stylesheet", type="text/css", href="/static/css/map.css")
	link(rel="stylesheet/less", type="text/css", href="/static/less/edit.less")

block scripts
	script(type="application/javascript", src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false")
	script(type="application/javascript", src="/static/openlayers/OpenLayers.js")
	script(type="application/javascript", src="/static/js/jade.js")
	script(type="application/javascript", src="/static/js/jquery-ui-1.8.16.custom.min.js")
	script(type="application/javascript", src="/static/less/less-1.2.1.min.js")
	
	script(type="application/javascript", src="/static/js/editor/main.js")
	script(type="application/javascript", src="/static/js/editor/read-resource.js")
	script(type="application/javascript", src="/static/js/editor/write-resource.js")
	script(type="application/javascript", src="/static/js/editor/renderers.js")
	script(type="application/javascript", src="/static/js/editor/special-cases.js")
	script(type="application/javascript", src="/static/js/editor/additional-style.js")
	script(type="application/javascript", src="/static/js/editor/add-remove.js")
	
	script(type="application/javascript", src="/static/js/map.js")
	script(type="application/javascript", src="/static/js/editor/add-map-editor.js")
	
	script(type="application/javascript")
		| templates = !{templates};
		| schemas = !{schemas};
		| instanceGenerator = !{instanceGenerator};
		- if (existingResource) {
		| startingResource = !{existingResource};
		- } else {
		| startingResource = templates["http://resources.usgin.org/uri-gin/usgin/schema/json-metadata/"];
		- }
			
block sidebar-content	
	#collections-block
		h2#collections-title.block-title Manage Collections
		#collections-content.block-content
			ul#collections-current-list.menu
				li#add-to-collection
					a(href="#", onclick="addCollection()") 
						strong Add to a new collection
	
	#standard-addition-block
		h2#standard-addition-title.block-title Add Formal Content
		#standard-addition-content.block-content
			ul#standard-addition-menu.menu
				li Nothing yet!								
					
	#file-attachment-block
		h2#file-attachment-title.block-title Manage File Attachments
		#file-attachment-content.block-content
			ul#file-attachment-menu.menu
				li#file-attachment-add
					a(href="#", onclick="addFile()") Attach a File, someday...
						
				
	#map-block
		h2#map-title.block-title Resource Location
			#map-edit-tool
				button#modify-box
				button#add-box
		#map-content.block-content
			#map
block page-content
	#editor-header.clear-block
		- if (existingResource) {
			input#validate-button(type="button", value="Validate", onclick="showValidation('" + existingResource.id + "')")
			input#delete-button(type="button", value="Delete", onclick="showDeletion('" + existingResource.id + "')")
			h1#editor-title Edit an Existing Resource
		- } else {
		h1#editor-title Create a New Resource
		- }
	#resource-container
		ul#theResource	
	form#editor-form(name="resourceForm", method="post", enctype="multipart/form-data", onsubmit="writeResource()")
		input#the-new-resource.hidden(name="theResource")
		input.save-resource-button(type="submit", value="Save Your Resource")
	#add-contact-dialog(title="Add a registered contact")
		label(for="new-contact-selector") Type a name: 
		input#new-contact-selector
		input#new-selected-contact(style="display:none;")
	#add-collection-dialog(title="Add record to a collection")
		label(for="new-collection-selector") Type a collection name: 
		input#new-collection-selector
		input#new-selected-collection(style="display:none;")
	#saved-contact-dialog(title="Register a contact")
		#contact-message-container.ui-corner-all
	#validation-dialog(title="Validation Summary")
	#deletion-dialog(title="Delete this resource?")
		#deletion-message Are you certain that you want to delete this resource?