extends ./base

block page-content
	h2(style="padding-bottom: 10px;") Your harvest was successful (#{saveResponses.length} new resources)
	div(style="width: 300px;")
		div.block-title Please edit your harvested content:
		div.block-content
			ul#edit-links.menu
				- for (r in saveResponses) {
				li 
					a(href="/resources/" + saveResponses[r].id) Record #{new Number(r) + 1}
				- }
		