extends ./base

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/login.css")
	
block page-content
	#login-form-block
		#form-title.block-title Login
		#form-content.block-content			
			form(action="/login" + redirectUrl, method="post")
				table
					- if (failed) {
					tr
						td
						td
							#failed-message 
								strong PLEASE TRY AGAIN
					- }
					tr.login-row
						td.label
							label(for="user") Name: 
						td
							input(type="text", name="user", id="user")
					
					tr.login-row
						td.label
							label(for="password") Password: 
						td
							input(type="password", name="password", id="password")
				table.submit-button
					tr
						td
							input(type="submit", value="Login")