extends ./base

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/jqueryui/jquery-ui-1.8.16.custom.css")
	link(rel="stylesheet", type="text/css", href="/static/css/map.css")
	link(rel="stylesheet", type="text/css", href="/static/css/new-edit.css")

block scripts
	script(type="application/javascript", src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false")
	script(type="application/javascript", src="/static/openlayers/OpenLayers.js")
	script(type="application/javascript", src="/static/js/jade.js")
	script(type="application/javascript", src="/static/js/jquery-ui-1.8.16.custom.min.js")
	
	script(type="application/javascript", src="/static/js/map.js")
	script(type="application/javascript", src="/static/js/editor/add-map-editor.js")
	
	script(type="application/javascript", src="/static/js/new-editor/main.js")
	script(type="application/javascript", src="/static/js/new-editor/read-resource.js")
	script(type="application/javascript", src="/static/js/new-editor/write-resource.js")
	script(type="application/javascript", src="/static/js/new-editor/renderers.js")
	script(type="application/javascript", src="/static/js/new-editor/special-cases.js")
	script(type="application/javascript", src="/static/js/new-editor/for-real.js")
	
	script(type="application/javascript")
		| templates = !{templates};
		| schemas = !{schemas};
		- if (existingResource) {
		| startingResource = !{existingResource};
		- } else {
		| startingResource = templates["http://resources.usgin.org/uri-gin/usgin/schema/json-metadata/"];
		- }
			
block sidebar-content
	#standard-addition-block
		h2#standard-addition-title.block-title Add Formal Content
		#standard-addition-content.block-content
			ul#standard-addition-menu.menu
				li#standard-addition-author
					a(href="#", onclick="addAuthor()") Add a blank author
				li#standard-addition-distributor
					a(href="#", onclick="addDistributor()") Add a blank distributor
				li#standard-addition-contact
					a(href="#", onclick="addContact()") Add a registered contact
				li#standard-addition-file-link
					a(href="#", onclick="addLink('file')") Add a file link
				li#standard-addition-service-link
					a(href="#", onclick="addLink('service')") Add a service link
					
	#file-attachment-block
		h2#file-attachment-title.block-title Manage File Attachments
		#file-attachment-content.block-content
			ul#file-attachment-menu.menu
				li#file-attachment-add
					a(href="#", onclick="addFile()") Add a File
					
	#collections-block
		h2#collections-title.block-title Manage Collections
		#collections-content.block-content
			ul#collections-current-list.menu
				li#add-to-collection
					a(href="#", onclick="addCollection()") Add to a new collection
						
				
	#map-block
		h2#map-title.block-title Resource Location
			#map-edit-tool
				button#modify-box
				button#add-box
		#map-content.block-content
			#map
block page-content
	#editor-header.clear-block
		- if (existingResource) {
			input#validate-button(type="button", value="Validate", onclick="showValidation('" + existingResource.id + "')")
			h1#editor-title Edit an Existing Resource
		- } else {
		h1#editor-title Create a New Resource
		- }
	#resource-container
		ul#theResource	
	form#editor-form(name="resourceForm", method="post", enctype="multipart/form-data", onsubmit="writeResource()")
		input#the-new-resource(name="theResource")
		input.save-resource-button(type="submit", value="Save Your Resource")