extends ./base

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/new-collection.css")
	link(rel="stylesheet", type="text/css", href="/static/css/jqueryui/jquery-ui-1.8.16.custom.css")
	
block scripts
	script(type="application/javascript", src="/static/js/jquery-ui-1.8.16.custom.min.js")
	script(type="application/javascript", src="/static/js/new-collection.js")
	script(type="application/javascript")
		| collectionName = "#{collectionName}"
	
block page-content
	#new-collection-block
		#new-collection-block-title.block-title Create a new collection
		#new-collection-block-content.block-content
			form#new-collection(name="collectionForm", method="post", action="/new-collection/")
				table
					tr
						td.input-label
							label(for="collectionTitle") Collection Name: 
						td.input-column
							input#collectionTitle(name="collectionTitle")
					tr
						td.input-label
							label(for="parentCollections") Parent Collections:
						td.input-column
							input#parentCollectionNames
							input#parentCollectionValues(name="parentCollections", style="display: none")
					tr
						td.input-label
							label(for="collectionDescription") Description:
						td.input-column
							textarea#collectionDescription(name="collectionDescription")
				table#submit-table
					tr
						td
							input#save-collection(type="submit") Submit