extends ./base

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/edit.css")
	link(rel="stylesheet", type="text/css", href="/static/css/jqueryui/jquery-ui-1.8.16.custom.css")
	link(rel="stylesheet", type="text/css", href="/static/css/search-results.css")
	
block scripts
	script(type="application/javascript", src="/static/js/jade.js")
	script(type="application/javascript", src="/static/js/search.js")
	script(type="application/javascript", src="/static/js/jquery-ui-1.8.16.custom.min.js")
	script(type="application/javascript")
		| collectionId = false;
		| keyword = "#{keyword}"

block page-content
	h1#search-title Search
	#full-text-container
		label Enter your keywords:
		#container-inline
			- if(!keyword)
				input#search-terms
			- else
				input#search-terms(value="#{keyword}")			
			button#search-button(onclick="performSearch('full', $('#search-terms').val())") Search	
	#results-container