.collection-list-expand {
	background-image: url("../css/jqueryui/images/ui-icons_ffffff_256x240.png") !important;
	display: inline-block;
	height: 13px;
}

.collection-list-expand:hover {
	cursor: pointer;
}

.collection-list-actions {
	display: inline-block;
	float: right;
}

.collection-list-actions span{
	display: inline-block;
	background-image: url("../css/jqueryui/images/ui-icons_ffffff_256x240.png") !important;
}

.collection-list-actions span:hover{
	cursor: pointer;
	background-image: url("../css/jqueryui/images/ui-icons_F08B6F_256x240.png") !important;
}