/**CSS for title bar******************************************************************/
	
.collection-list-expand {
	background-image: url("../css/jqueryui/images/ui-icons_ffffff_256x240.png") !important;
	display: inline-block;
	height: 13px;
}

.block-collection span:hover {
	cursor: pointer;
}

.block-collection a:hover {
	text-decoration: none;
}

.collection-list-actions {
	display: inline-block;
	float: right;
}

.collection-list-actions span {
	display: inline-block;
	background-image: url("../css/jqueryui/images/ui-icons_ffffff_256x240.png") !important;
}

.collection-list-actions span:hover {
	background-image: url("../css/jqueryui/images/ui-icons_F08B6F_256x240.png") !important;
}

/**CSS for content*********************************************************************/
.record-container {
	list-style: none;
}

.record-container a{
	color: #006891;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.record-container span:hover{
	cursor: pointer;
}

.record-inner-list {
	padding-left: 12px;
}

.record-item-link {
	padding-left: 6px;
}

.record-item-link:hover {
	text-decoration: underline !important;
}

.collection-item {
	display: inline-block;
	text-decoration: none !important;
}

.collection-item span {
	background-image: url("../css/jqueryui/images/ui-icons_006891_256x240.png") !important;
}
