#editor-header h1 {
	font-size: 19px;
	margin-bottom: 10px;
}

#theResource li {
	list-style-type: none;
	margin-top: 4px;
}

#theResource ul[eletype] {
	border: 1px solid #DEE7EA;
	border-top: none;
	background-color: #EDF2F4;
	padding: 4px;
}

#the-new-resource {
	display: none;	
}

#save-resource-button {
	margin-top: 10px;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Hide text in array titles -- they're just numbers anyway */
ul[eletype="array"] > li > div > div[ele="attribute"] {
	height: 19px;
	text-indent: -3000px;
	overflow: hidden;
}

/* Inside an array, items that are simply values should have their titles removed completely -- Keywords are a good example */
ul[eletype='array'] > li > div > div[ele='attribute'][eletype='value'] {
	display: none;
}

/* Adjustments to put titles of key/value pairs left of the content */
.value-container div[ele='attribute'] {
	float: left;
	border-radius: 0px;
	padding-right: 10px;
	margin: -1px;
	margin-right: 5px;
	color: #006891;
	background-color: #D4E0F4;
}

.value-container {
	border: 1px solid #DEE7EA;
	background-color: white;
}

/* Standard attribute names and values */
div[ele="value"] {
	border: none;
	padding: 4px;
	margin-top: 2px;
	font-size: 12px;
}

div[ele="attribute"] {
	color: white;
	font-weight: bold;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 4px;
	padding-left: 10px;
}

.object-header {
	background-image: url("../img/primary_bg.gif");
}

.object-header {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 27px;
} 

/* Control Toolbar */
.control-tools {
	float: right;
	margin-top: 2px;
}

.control-tools li {
	height: 16px;
	width: 16px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}

.minimize-button {	
	background-image: url("../img/collapse.gif");
}

.minimize-button.collapsed {
	background-image: url("../img/expand.gif");
}

.add-obj-button {
	background-image: url("../img/add-obj.png");	
}

.add-arr-button {
	background-image: url("../img/add-arr.png");	
}

.add-val-button {
	background-image: url("../img/add-val.png");
	margin-right: 20px !important;	
}


ul.collapsed {
	display: none;
}

.delete-button {
	background-image: url("../img/cancel.png");
}
