#editor-header h1 {
	font-size: 19px;
	margin-bottom: 10px;
}

#theResource li {
	list-style-type: none;
	margin-top: 4px;
}

#theResource ul[eletype] {
	border: 1px solid #A5AFC2;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #EDF2F4;
	padding: 4px;
}

#the-new-resource {
	display: none;	
}

#save-resource-button {
	margin-top: 10px;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Hide text in array titles -- they're just numbers anyway */
ul[eletype="array"] > li > div > div[ele="attribute"] {
	height: 19px;
	text-indent: -3000px;
	overflow: hidden;
}

/* Inside an array, items that are simply values should have their titles removed completely -- Keywords are a good example */
ul[eletype='array'] > li > div > div[ele='attribute'][eletype='value'] {
	display: none;
}

/* In the same situation as that immediately prior, we want the input box to be shaped nicely */
ul[eletype='array'] > li > div > div[ele='attribute'][eletype='value'] + div[ele="value"] {
	border-top: 1px solid #A5AFC2;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;	
}

/* Standard attribute names and values */
div[ele="value"] {
	border: 1px solid #A5AFC2;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 4px;
	font-size: 12px;
	background-color: white;
}

div[ele="attribute"] {
	color: white;
	font-weight: bold;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 4px;
	padding-left: 10px;
}

.object-header, div[ele='attribute'][eletype='value'] {
	background-image: url("../img/primary_bg.gif");
}

.object-header {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 27px;
} 

/* Control Toolbar */
.control-tools {
	float: right;
	margin-top: 2px;
}

.control-tools li {
	height: 16px;
	width: 16px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}

.minimize-button {	
	background-image: url("../img/collapse.gif");
}

.minimize-button.collapsed {
	background-image: url("../img/expand.gif");
}

ul.collapsed {
	display: none;
}

.delete-button {
	background-image: url("../img/cancel.png");
}
