/****************Change css for zoom panel*******************/

.olControlZoomPanel div {
    background-image:url(/static/img/tool-sprites.gif) !important;
    height:15px !important;
    width:15px !important;
    /* workaround for button height in IE */
    font-size:0px;
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    display: none;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    background-position:15px -240px !important;
    top: -65px !important;
    left: -7px !important;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    background-position:15px -255px !important;
    top: -48px !important;
    left: -7px !important;
}

/****************Change css for the editor tool*******************/
#map-edit-tool{
	width: 24px;
	height: 16px;
	float: right;
}

.ui-state-press{
    background: url("images/ui-bg_glass_50_f08b6f_1x400.png") repeat-x scroll 50% 50% #F08B6F;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: normal;	
}


