.hidden {
	display: none !important;
}

ul {
	list-style-type: none;
}

li {
	margin: 4px;
}

.label {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	height: 15px;
	color: #006891;
	padding: 5px;
}

legend {
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #fff;
	border: 1px solid #C6CACC;
	border-radius: 4px;
}

legend:hover {
	cursor: pointer;
}

#theResource li {
	border: 1px solid #C6CACC;
	background-color: #fff;
}

#theResource li.key-value {
	border: 1px solid #C6CACC;
}

#theResource li > span + input {
	border: none;
	height: 25px;
	padding-left: 5px;
	width: 80%;
}

#theResource li.textarea-container > span {
	border: none !important;
}

#theResource li > textarea {
	font-family: "Arial";
	border: none;
	border-top: 1px solid #C6CACC;
	width: 98%;
	height: 130px;
	margin-left: 5px;
}

#theResource li select {
	border: none;
	background-color: #fff;
	height: 25px;
}

#theResource li > span {
	border-right: 1px solid #C6CACC;
	background-color: #fff;
}

#theResource li > textarea {
	border-top: 1px solid #C6CACC;
}

#theResource li > fieldset {
	border: 1px solid #C6CACC;
	background-color: #EDF2F4;	
}

/** Styling for required content **/
#theResource li.required {
	border: 3px solid #F08B6F;
}

#theResource li.required.enum > span {
	height: 16px;
}

#theResource li.required > span {
	border: none;
	border-right: 3px solid #F08B6F;
}

#theResource li.required > textarea {
	border-top: 3px solid #F08B6F;
}

#theResource li.required > fieldset {
	border: 1px solid #C6CACC;
	background-color: #DADEE0;
}

#theResource  li.object-container, #theResource li.array-container {
	border: none;
	background: none;
}

/** Some buttons **/
.remove-button {
	position: relative;
	top: 2px;
	height: 16px;
	width: 16px;
	background-image: url("../img/cancel.png");
	display: inline-block;
	opacity: 0.4;
}

.remove-button:hover {
	opacity: 1.0;
	cursor: pointer;
}

